* {
  margin: 2;
  padding: 2;
  box-sizing: border-box;
}

body {
  color:#00266A;
  font-family: "Maven Pro", sans-serif;
  background-color:  #469cf4;
  }


main{
  margin-top: 45px;
  margin-left: 15px;
  display: flex;
  gap: 20px;
  }


form {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: 
  'aside  form  form '
  'aside  form  form '
  'aside  form  form '
  'aside  form  form '
  'aside  form  form '
  'footer footer footer';
}

aside{grid-area: aside;}
form {grid-area: form;}
footer{grid-area: footer;}


.logo{
  text-align: center;
}

nav {
  margin-left: 10px;
  padding: 1px;
  background-color: #F17439;
  border-radius:  50% 20% / 10% 40%;
}

ul {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-area: ul;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.cap{
  margin-top: 35px;
  font-size: 30px;
  
}

fieldset{
  margin-top: 50px;
  width: 850px;
  height: 850px;
  background-color: #F17439;
}

form{
  display: flex;
  column-gap: 2px;
  row-gap: 5px;
  flex-flow: column wrap;
  flex-basis: 70rem;
  text-wrap:balance;  
}

.idNome{
  margin: 15px;
  font-size: 25px;
}

.idDataNasc{
 margin: 15px;
 font-size: 25px;
}


.idEmail{
  margin: 15px;
  font-size: 25px;
}


.idgenero{
  margin: 15px;
  font-size: 25px;
}

.idCidade{
  margin: 15px;
  font-size: 25px;
}

.idBairro{
  margin: 15px; 
  font-size: 25px;
}

.coleta{
  text-align: center;
  margin-top: 55px;
}
.coleSim{
  margin-left:180px;
  font-size: 25px;
}

.coleNao{
  margin-top: -19px;
  margin-left: 410px;
  font-size: 25px;
}

.descarte{
  text-align: center;
  margin-top: 45px;
}

.plastico{
  margin-left: 50px;
  font-size: 20px;
}

.madeira{
  margin-top:-23px;
  margin-left: 200px;
  font-size: 20px;
}

.vidro{
  margin-top:-23px;
  margin-left: 330px;
  font-size: 20px;
}

.papelao{
  margin-top:-23px;
  margin-left: 460px;
  font-size: 20px;
}

.isopor{
  margin-top:-23px;
  margin-left: 630px;
  font-size: 20px;
}

.residuo{
  text-align: center;
  margin-top: 15px ;
  font-size: 20px;
}

.info{
  margin-top: 40px;
  text-align: center;
}

.infoSim{
  margin-left:180px;
  font-size: 25px;
}

.infoNao{
  margin-top: -30px;
  margin-left: 410px;
  font-size: 25px;
}

aside{
  margin:20px;
  display: flex;
  row-gap: 15px;
  flex-flow: column wrap;
  flex-basis: 35rem;
  text-wrap:balance;
}

p{
  font-size: 25px;
}

.p1{
  font-size: 30px;
  text-align: center;
}

.a1{
  font-size: 25px;
}
.a2{
  font-size: 20px;
}

.botao{
  margin:70px;
}

