* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(66, 248, 242);
  color: darkblue;
  font-family: "Maven Pro", sans-serif;
}

.logo {
  margin-top: 7px;
  padding: 5px;
}

ul {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {list-style: none;}

a{
  color: rgb(163, 48, 67);
  text-decoration: none;
 }



main  .conteiner2{
  display: grid;
  top: 2px;
  grid-template-rows: auto;
  grid-template-columns:repeat(3, 1fr); 
  gap: 1px;
  grid-template-areas:
  'h1         h1          h1'
  'p1         p1          p1'
  'h2         h2          h2'
  'p          p           p'
  'Antonio    Fernanda    Karen'
  'Ant        Fe          Ka'
  'h3         h3          h3'
  'h4         h4          h4'
}

h1 {grid-area: h1;}
h2 {grid-area: h2;}
ul {grid-area: ul;}
.p1 {grid-area: p1;}
.h2 {grid-area: h2;}
.p {grid-area: p;}
.Antonio{grid-area: Antonio;}
.Ant{grid-area: Ant;}
.Fernanda{grid-area: Fernanda;}
.Fe{grid-area: Fe;}
.Karen{grid-area: Karen;}
.Ka{grid-area: Ka;}
h3{grid-area: h3;}
h4{grid-area: h4;}


.conteiner2{
  display: flex;
  justify-content: space-evenly;
  margin-left: 35px;
  margin-top: 50px;
  text-align: center;
}


p {
  margin: 25px;
  text-align: justify;
  text-indent: 20px;
  line-height: 2;
}

h1{
  margin-top: 56px;
  text-align: center;
}

h2{
  margin-top: 60px;
  text-indent: 40px;
}




